body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf6f0; /* Светлый фон */
}

header {
    background-color: #ffb3b3; /* Нежно-розовый */
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #5a5a5a; /* Темно-серый */
}

.category {
    margin: 20px;
}

.product {
    border: 1px solid #e0a3a3; /* Светло-розовый */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #ffffff; /* Белый фон для продуктов */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; /* Закругленные углы для изображений */
}

.quantity {
    width: 50px;
    margin-left: 10px;
}

#cart {
    border: 1px solid #e0a3a3; /* Светло-розовый */
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff; /* Белый фон для корзины */
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

button {
    background-color: #ffb3b3; /* Нежно-розовый */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px; /* Закругленные углы для кнопки */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

button:hover {
    background-color: #ff9999; /* Более темный розовый при наведении */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffb3b3; /* Нежно-розовый */
    position: relative;
    bottom: 0;
    width: 100%;
    color: #5a5a5a; /* Темно-серый текст */
}